@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Poppins', sans-serif;
}

:root {
    --red: #C91B28;
    --dark: #181818;
    --light: #1E1E1E;
    --white: #FFFFFF;
    --silver: #A9A9A9;
    --black: #111111;
}

body {
    background-color: var(--black);
}